#content{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 25rem;
}

#projects{
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

#projects a{
    display: block;
}



h1{
    color: red;
}